

@font-face{
  font-family: 'Gilroy light';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/fonts/Radomir_Tinkov\ _Gilroy_Light.woff')
}
@font-face{
  font-family: 'Gilroy bold';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/fonts/Radomir_Tinkov\ _Gilroy_ExtraBold.woff')
}

body {
  margin: 0;
  font-family: 'Gilroy light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
